<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aurita Nur Hamidah</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous">
  </head>

  <!-- Nav -->
  <body>
    <h1>Portofolio</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-md mb-4" style="background: plum;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Portofolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Footer</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 

 <!-- My Protofolio -->
<div class="jumbotron text-center">
    <div class="container">
      <img class="img-fluid" src="../static/Saya.jfif" alt="" width="250px">
      <h1 class="" width="50px">AURITA NUR HAMIDAH</h1>
      <p class="lead">Nama saya Aurita Nur Hamidah, dari Universitas Muria Kudus Semester 6 Prodi Sistem Informasi. Hobi saya adalah menonton drama korea atau yang bisa disebut drakor dan membaca novel. 
        Di waktu yang senggang saya suka menonton drakor karena bisa membuat saya mengurangi stres, membangun kepercayaan diri saya, dan akan lebih sadar akan kesehatan mental itu penting. 
        Tetapi menonton drama diwaktu senggang atau malam hari harus ingat batas waktu agar tidak menjadi kecanduan. Kalaupun membaca novel bisa untuk menambah pengetahuan, peningkatan konsentrasi, dan bisa menambah kosakata baru.</p>
    </div>
  </div>
  
  <!-- My Hoby-->
     <p>
        <div class="jumbotron text-center"></div>
        <a href="#" class="btn btn-primary my-2">My Hoby</a>
      </p>
      <div class="row">
        <div class="col-md-4 mb-5">
          <img class="img-fluid" src="../static/Start Up.jpg" alt="" width="100px">
          <h3 class="mb-3">My Hoby</h3>
          <p>Saya suka drama ini karena menceritakan tentaang seseorang yang gigih untuk membangun perusahaan sendiri, dan di drama itu ada pembelajaran tentang koding.</p>
        </div>
        <div class="col-md-4 mb-5">
          <img class="img-fluid" src="../static/Big Mouth.jpg" alt="" width="100px">
          <h3 class="mb-3">My Hoby</h3>
          <p>Drama ini menceritakan tentang hukum yang tidak adil, untuk memperjuangkan hukum ysang adil.</p>
        </div>
        <div class="col-md-4 mb-5">
          <img class="img-fluid" src="../static/Novel.jpg" alt="" width="100px">
          <h3 class="mb-3">My Hoby</h3>
          <p>Novel ini menceritakan tentang kehidupan anak-anak negeri yang kisahnya dapat dinikmati oleh semua umur.</p>
        </div>
      </div>
    </div>
  </section>

<!-- Contact Me-->
  <section class="bg-light">
    <div class="container">
      <h2 class="text-center mb-5">Contact Me</h2>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  
<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>  
</body>
</html>